<div class="entity">
<h1 class="entity__title">Search</h1>
<p>Your query: <%= @query %></p>

  <div class="entity__list">
  <% @results.each do |result| %>
    <div class="entity__list__material">
      <%= display_small result %>
    </div>
  <% end %>
  </div>

</div>
