<div class="search">
<h1>Search</h1>
<p>Your query: <%= @query %></p>

  <div class="search__results">
  <% @results.each do |result| %>
    <div class="search__results__item">
      <%= display_small result %>
    </div>
  <% end %>
  </div>

</div>
