<div class="discipline__listDisciplines">

<h1 class="discipline__listDisciplines__title">Our disciplines</h1>

<% if current_user.admin? %>
<%= link_to 'Создать', {action: :create}, {class: "button_ok"} %>
<% end %>

<ul class="discipline__listDisciplines__list">
<% @disciplines.each do |discipline| %>
  <li class="discipline__listDisciplines__list__material">
    <%= render partial: 'small', locals: {discipline: discipline} %>
  </li>
<% end %>
</ul>
</div>
