<div class="discipline__listPublications">

<h1 class="discipline__listPublications__title"><%= @discipline.name %>: Публикации</h1>

<%= link_to "Написать", {controller: :article, action: :create}, {class: "button_ok"} %>

<ul class="discipline__listPublications__list">
<% @discipline.articles.each do |article| %>
  <li class="discipline__listPublications__list__article">
    <%= render partial: 'article/small', locals: {article: article} %>
  </li>
<% end %>
</ul>
</div>
