<div class="entity">

  <h1 class="entity__title">
    Публикации по дисциплине
    <%= link_to @discipline.name, action: :read, id: @discipline.id %>
  </h1>

  <%= link_to "Написать",
    {controller: :article, action: :create},
    {class: "button_ok"} %>

  <ul class="entity__list">
  <% @articles.each do |article| %>
    <li class="entity__list__article">
      <%= render partial: 'article/small', locals: {article: article} %>
    </li>
  <% end %>
  </ul>
</div>
