<div class="entity">

  <h1 class="entity__title">
    Материалы по дисциплине
    <%= link_to @discipline.name, action: :read, id: @discipline.id %>
  </h1>

  <%= link_to 'Загрузить',
    {action: :create, controller: :materials},
    {class: "button_ok"} %>


  <ul class="entity__list">
  <% @materials.each do |material| %>
    <li class="entity__list__material">
      <%= render partial: 'materials/small', locals: {material: material} %>
    </li>
  <% end %>
  </ul>
</div>
