<div class="article__small">
  <h2 class="article__small__header"><%= link_to article.title, controller: :article, action: :read, id: article.id %></h2>
  <div class="article__small__main">
    <div class="article__small__main__text">
      <%= truncate(article.contents, length: 200) %>
    </div>
    <div class="article__small__main__bar">
      <div class="article__small__main__bar__element article__small__main__bar__element_author">
        <%= link_to article.author.name, controller: :user, action: :read, id: article.author.id %>
      </div>
      <div class="article__small__main__bar__element article__small__main__bar__element_author">
        <%= article.created_at %>
      </div>
    </div>
  </div>
</div>
