<div class="entity__small">
  <h2 class="entity__small__header"><%= link_to article.title, controller: :article, action: :read, id: article.id %></h2>
  <div class="entity__small__main">
    <div class="entity__small__main__text"><%= truncate(article.contents, length: 200) %></div>
    <%= render partial: 'article/bar', locals: {article: article} %>
  </div>
</div>
