<div class="entity">
  <h1 class="entity__title">Формирование отчёта</h1>

  <%= form_for :report, url:{action: :form},
      method: 'POST', html: {class: 'entity__form'} do |r| %>
    <div class="entity__form__input-group">
      <%= r.label :date, 'Дата смотра',
          class: 'entity__form__input-group__label' %>
      <%= r.date_field :date, start_year: 1980,
          use_two_digit_numbers:true, order: [:day, :month, :year],
          class: 'entity__form__input-group__control',
          value: Time.now.strftime('%Y-%m-%d') %>
    </div>

    <%= r.submit "Сформировать отчёт", class: "button_ok" %>
  <% end %>

</div>
