<div class="group__absenses">
  <div class="group__absenses__groupname">Группа <%= @group.title %></div>
  <div class="group__absenses__discipline">
    Учёт посещаемости по дисциплине

    <%= form_for :absenses_table,
                html: {
                  autocomplete: false,
                  class: 'group__absenses__discipline__selector'
                } do |form| %>
      <% disciplines = Discipline.all.map{|d| [d.name, d.id]} %>
      <%= form.select :discipline_id,options_for_select(disciplines, @discipline.id) %>
      Тип занятия: <%= lesson_type_selector form %>
    <% end %>
  </div>

  <table class="group__absenses__table">
    <thead class="group__absenses__table__header">
      <tr class="group__absenses__table__header__row">
        <th class="group__absenses__table__header__row__item">Расписание недоступно</th>
      </tr>
    </thead>
    <tbody class="group__absenses__table__body">
      <tr class="group__absenses__table__body__row">
        <td class="group__absenses__table__body__row__item">Проверьте ваше подключение к сети</td>
      </tr>
    </tbody>
  </table>
</div>
