// Place all the styles related to the discipline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$top-divider-color: #FFED74;

.discipline {
  &__info {
    &__title {
      @extend .title;
    }

    &__section {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: normal;
      margin-bottom: 5px;
    }


    &__description {
      @extend .description_edit;
    }

    &__lecturers {
      margin: 10px 0;
      padding: 10px 0;
      border-top: 1px solid $top-divider-color;
      border-bottom: 1px solid $top-divider-color;

      &__person {
        display: block;
        width: 100px;
        text-align: center;
        margin: 0 5px;

        &__img {
          display: block;
          margin: 0 auto;
        }

        &__name {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }

  &__create {
    &__label {
      display: block;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14pt;
      margin-top: 10px;
    }

    &__title {
      @extend .title;
    }

    &__description {
      @extend .description;
    }
  }

  &__listMaterials {
    &__title {
      @extend .title;
    }

    &__list {
      &__material {
        font-family: Helvetica, Arial, sans-serif;
      }
    }
  }

  &__small {
    &__name {}
    &__info {
      &__text {
        @extend .description;
      }

      &__stat {
        border: 1px solid darken(white, 8%);
        border-radius: 3px;
        padding: 5px;
      }
    }
  }
}
