
.title {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 24pt;
}

.description {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14pt;
  display: block;
  width: 100%;
  min-height: 200px;
  resize: none;
}
