// Place all the styles related to the materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.material {
  &__small {
    &__header {
      @extend .title;
    }

    &__main {
      &__text {
        @extend .text;
      }

      &__bar {
        min-height: 40px;
        border: 1px solid #ebeaea;
        border-radius: 5px;
        padding: 10px 20px;
        vertical-algin: middle;

        &__element {
          height: 100%;
          display: inline-block;
          vertical-align: middle;
          line-height: 30px;
          box-sizing: border-box;
          border-left: 1px solid #ebeaea;
          padding: 0 10px;

          &:first-child {
            border-left: none;
            padding-left: 0;
          }
        }
      }
    }
  }
}
