<div class="entity__small">
  <h2 class="entity__small__header"><%= link_to material.title, controller: :materials, action: :read, id: material.id %></h2>
  <%= link_to 'Download', material.document.url, class: 'button_ok' %>

  <div class="entity__small__main">
    <div class="entity__small__main__text">
      <%= truncate(material.description, length: 200) %>
    </div>
  </div>
  <%= render partial: 'article/bar', locals: {article: material} %>
</div>
