<div class="materials">
  <div class="materials__title">Загруженные материалы</div>

  <%= link_to 'Upload', {action: :create}, {class: "materials__upload"} %>

  <ul class="materials__list">
  <% @materials.each do |material| %>
    <li class="materials__list__item">
      <%= render partial: 'small', locals: {material: material} %>
    </li>
  <% end %>
  </ul>
</div>
