<div class="entity">
  <div class="entity__title">Загруженные материалы</div>

  <%= link_to 'Upload', {action: :create}, {class: "button_ok"} %>

  <ul class="entity__list">
  <% @materials.each do |material| %>
    <li class="entity__list__material">
      <%= render partial: 'small', locals: {material: material} %>
    </li>
  <% end %>
  </ul>
</div>
